<!DOCTYPE html>
<html data-ng-app="transitApp">

	<head>
		<title>Miami-Dade Transit</title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

		<style>
			h1 {
			    color: #007AC2;
			    font-family:  Verdana, Geneva, sans-serif;
			    font-size: 32px;
			    text-align: center;
			    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
			}

			p {
				font-family:  Verdana, Geneva, sans-serif;
				color: #4F8636;
			}

			table, th, td {
			    border: 1px solid black;
			    border-collapse: collapse;
			}
			th,td {
			    padding: 15px;
			}
		</style>
	</head>

	<body >
		<h1>Miami-Dade Transit Live</h1>

		<div id="map" style="height: 480px"></div>

		<div class="tabsection"
			style="margin-left: auto; margin-right: auto; width: 50%; padding: 20px 0px 0px 0px"
			data-ng-controller="transitController">
		    <ul class="nav nav-pills nav-justified">
		        <li class="active"><a data-toggle="tab" href="#livebuses">Live Buses</a></li>
		        <li><a data-toggle="tab" href="#busroutes">Bus Routes</a></li>
						<li><a data-toggle="tab" href="#busstops">Bus Stops</a></li>
						<li><a data-toggle="tab" href="#POIs">POIs</a></li>
		    </ul>
		    <div class="tab-content">
		        <div id="livebuses" class="tab-pane fade in active">
		            <h3>Live Buses</h3>
								Buses: {{buses.length}}
								<div id="busTable">
			            <table>
										<tr>
											<th>Trip ID</th>
									    <th>Route ID</th>
									    <th>Color</th>
									  </tr>
									  <tr data-ng-repeat="x in buses">
									    <td>{{x.TripID}}</td>
									    <td>{{x.RouteID}}</td>
									    <td style="background-color: #{{x.color}}">{{x.color}}</td>
										</tr>
									</table>
								</div>
		        </div>
		        <div id="busroutes" class="tab-pane fade">
		            <h3>Bus Routes</h3>
								Bus Routes: {{routes.length}}
								<div id="busTable">
			            <table>
										<tr>
											<th>Route ID</th>
											<th>Route Alias</th>
									    <th>Route Description</th>
									    <th>Route Color</th>
									  </tr>
									  <tr data-ng-repeat="x in routes">
									    <td>{{x.RouteID}}</td>
											<td>{{x.RouteAliasLong}}</td>
									    <td>{{x.RouteDescription}}</td>
									    <td style="background-color: #{{x.RouteColor}}">{{x.RouteColor}}</td>
										</tr>
									</table>
								</div>
		        </div>
						<div id="busstops" class="tab-pane fade">
		            <h3>Bus Stops</h3>
		            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
		        </div>
						<div id="POIs" class="tab-pane fade">
		            <h3>Points of Interest</h3>
		            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
		        </div>

		    </div>
		</div>

		<div class="bottom" style="margin-left: auto; margin-right: auto; width: 50%; padding: 30px 0px 0px 0px">
			<p>
				Data retrieved from: <a href="http://www.miamidade.gov/transit/WebServices/Buses/?BusID=">
					http://www.miamidade.gov/transit/WebServices/Buses/?BusID=</a>
				<br />
				When data is unavailable (night-time), sample data is shown.
				<br />
				Source code: <a href="https://github.com/qtrandev/LeafletTransit">
					https://github.com/qtrandev/LeafletTransit</a>
			</p>
		</div>

		<script src="index.js"></script>
		<script src="data.js"></script>
		<script>
		/**
			var transitApp = angular.module('transitApp', []);
			var controllers = {};
			controllers.transitController = ['$scope',
				function($scope) {
				    $scope.firstName= "John";
				    $scope.tripRouteShapeRef = tripRouteShapeRef;
				}
			];
			transitApp.controller(controllers);
			**/
		</script>
	</body>

</html>
