h1 {
    color: #007AC2;
    font-family:  Verdana, Geneva, sans-serif;
    font-size: 32px;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

p {
  font-family:  Verdana, Geneva, sans-serif;
  color: #4F8636;
}

p.info {
  font-family:  Verdana, Geneva, sans-serif;
  color: #4F8636;
  text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th,td {
    padding: 15px;
}

.leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
  }
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
  }
.leaflet-control-locate.active a {
  background-position:-33px -2px;
  }

.control {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-width: 250px;
}

.control h5 {
    margin: 0 0 10px;
    color: #777;
}

.control button {
  margin: 0 6px 6px 0;
}
